# ignore secrets and environment files
.env

# python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# dbt artifacts
dbt_pipelines/target/
dbt_pipelines/dbt_packages/
dbt_pipelines/logs/
dbt_pipelines/dbt_internal_packages/

# local data
logs/
